@font-face {
  font-family: "toutiao";
  /* Project id 2830929 */
  src: url('//at.alicdn.com/t/font_2830929_4kanjneg2sb.woff2?t=1632405905401') format('woff2'), url('//at.alicdn.com/t/font_2830929_4kanjneg2sb.woff?t=1632405905401') format('woff'), url('//at.alicdn.com/t/font_2830929_4kanjneg2sb.ttf?t=1632405905401') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-gengduo:before {
  content: "\e611";
}
.toutiao-guanbi:before {
  content: "\e612";
}
.toutiao-shoucang:before {
  content: "\e613";
}
.toutiao-yanzhengma:before {
  content: "\e614";
}
.toutiao-shanchu:before {
  content: "\e615";
}
.toutiao-pinglun:before {
  content: "\e616";
}
.toutiao-dianzan:before {
  content: "\e617";
}
.toutiao-yuedu:before {
  content: "\e618";
}
.toutiao-shouji:before {
  content: "\e619";
}
.toutiao-fenxiang:before {
  content: "\e61a";
}
.toutiao-lishi:before {
  content: "\e61b";
}
.toutiao-shouye:before {
  content: "\e61c";
}
.toutiao-dianzan2:before {
  content: "\e61d";
}
.toutiao-zuojiantou:before {
  content: "\e61e";
}
.toutiao-wode:before {
  content: "\e61f";
}
.toutiao-sousuo:before {
  content: "\e620";
}
.toutiao-youjiantou:before {
  content: "\e621";
}
.toutiao-wenda:before {
  content: "\e622";
}
.toutiao-shipin:before {
  content: "\e623";
}
.toutiao-wuwangluo:before {
  content: "\e624";
}
.toutiao-zuopin:before {
  content: "\e625";
}
